<?xml version="1.0"?>
<appSettings>
  <add key="CalendarApplicationName" value="Your Google Calendar Name" />
  <add key="CalendarProviderAccount" value="yourgoogleaccount" />
  <add key="CalendarProviderPassword" value="yourgooglepassword" />
  <add key="CalendarQueryUrl" value="https://www.google.com/calendar/feeds/yourgoogleaccount@gmail.com/public/full" />

  <add key="CalendarDateStringFormat" value="ShowEventListBelowCalendar" />
  <add key="ShowEventListBelowCalendar" value="true" />
  
</appSettings>

