<?xml version="1.0"?>
<appSettings>
  <add key="CalendarApplicationName" value="GDI Calendar" />
  <add key="CalendarProviderAccount" value="gdiprogrammingclass" />
  <add key="CalendarProviderPassword" value="8TheApple4Teacher" />
  <add key="CalendarQueryUrl" value="https://www.google.com/calendar/feeds/gdiprogrammingclass@gmail.com/public/full" />

  <add key="CalendarDateStringFormat" value="M/d/yyyy h:mm tt" />
  
</appSettings>

